Package: com.leroy.alwaysremindme
Name: AlwaysRemindMe
Depends: mobilesubstrate, firmware (>= 4.0)
Architecture: iphoneos-arm
Description: Small text reminder on the home- and lockscreen!
Maintainer: LeroyB
Author: LeroyB
Section: Tweaks
Version: 1-BETA-369+debug
Installed-Size: 364
