<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfIsTweakEnabled</string>
			<key>label</key>
			<string>Enable AlwaysRemindMe</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<!-- <dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>detail</key>
			<string>ARMLabelsListController</string>
			<key>label</key>
			<string>List of labels</string>
		</dict> -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Text lines</string>
			<key>footerText</key>
			<string>Choose the text and location of the AlwaysRemindMe text label.</string>
		</dict>
		<!-- custom text start -->
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Your Reminder text here</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfTextLabel</string>
			<key>label</key>
			<string>First line 'text' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Your Reminder text here</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfTextLabel1</string>
			<key>label</key>
			<string>Second line 'text' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<!-- custom text end -->
		<!-- Locations start -->
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfWhichScreenChoice</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Home and Lock</string>
				<string>Homescreen</string>
				<string>Lockscreen</string>
				<string>Above all</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<!-- Locations end -->
		<!-- datePicker start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Choose a time</string>
			<key>footerText</key>
			<string>Choose the time you would like to show your reminder. Disabling this option will always show the 'AlwaysRemindMe' label.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfIsTimerEnabled</string>
			<key>label</key>
			<string>Enable at a time</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>key</key>
			<string>pfTime24</string>
			<key>label</key>
			<string>Pick a time to be reminded at!</string>
			<key>action</key>
			<string>showDatePicker</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Choose a duration</string>
			<key>footerText</key>
			<string>The above values are in minutes and define the duration of the on-screen time for the 'AlwaysRemindMe' label.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfTimerChoice</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>999</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>5</string>
				<string>15</string>
				<string>30</string>
				<string>60</string>
				<string>Custom</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>12</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfTimerCustom</string>
			<key>label</key>
			<string>Custom 'timer' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<!-- datePicker end -->
		<!-- Pos start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Choose a Position</string>
			<key>footerText</key>
			<string>Choose the position of the 'AlwaysRemindMe' label. For custom values, select 'Custom' above and use the input fields below.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>Below StatusBar</string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfFramePosChoice</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>999</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Below StatusBar</string>
				<string>Above Dock</string>
				<string>Center</string>
				<string>Custom</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The top left part of the screen is point: x = 0, y = 0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>x</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfFrameX</string>
			<key>label</key>
			<string>Custom 'x' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>y</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfFrameY</string>
			<key>label</key>
			<string>Custom 'y' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<!-- Pos end -->
		<!-- start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Font</string>
			<key>footerText</key>
			<string>This will take you to a Website, copy the name of your desired font and paste it above.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>TrebuchetMS</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfFontCustom</string>
			<key>label</key>
			<string>Custom 'font' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>View available fonts!</string>
			<key>action</key>
			<string>showFontSelection</string>
		</dict>
		<!-- Font size and Color start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Font size and color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>14</string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfFontSize</string>
			<key>validValues</key>
			<array>
				<integer>11</integer>
				<integer>14</integer>
				<integer>20</integer>
				<integer>30</integer>
				<integer>999</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>11</string>
				<string>14</string>
				<string>20</string>
				<string>30</string>
				<string>Custom</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>size</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfFontSizeCustom</string>
			<key>label</key>
			<string>Custom font 'size' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfFontColorChoice</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>999</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Black</string>
				<string>White</string>
				<string>Custom</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>#FFFFFF</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfFontColorCustom</string>
			<key>label</key>
			<string>Custom 'hex' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<!-- Font size and Color end -->
		<!-- BackgroundColor start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Background</string>
			<key>footerText</key>
			<string>Smaller 'delay' value means faster animation. Value is in seconds.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfIsBackgroundEnabled</string>
			<key>label</key>
			<string>Show background</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfBackgroundColorChoice</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>999</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>White</string>
				<string>Black</string>
				<string>Custom</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>#FFFFFF</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfBackgroundColorCustom</string>
			<key>label</key>
			<string>Custom 'hex' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfIsRainbowEnabled</string>
			<key>label</key>
			<string>Enable rainbow background</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>in seconds</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfRainbowDelay</string>
			<key>label</key>
			<string>Custom 'delay' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<!-- BackgroundColor end -->
		<!-- rotation Start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>rotation Animation</string>
			<key>footerText</key>
			<string>Use '0' as count to repeat the animtion indefinitely.</string>
		</dict>
		<dict>
		 	<key>cell</key>
		 	<string>PSStaticTextCell</string>
		 	<key>cellClass</key>
		 	<string>PFHeaderCell</string>
		 	<key>background</key>
		 	<string>#686868</string>
		 	<key>image</key>
		 	<string>Previews/Rotate</string>
		 	<key>height</key>
		 	<integer>100</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfIsRotationEnabled</string>
			<key>label</key>
			<string>Enable rotation</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Default: 0</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfRotationDelay</string>
			<key>label</key>
			<string>Custom 'delay' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>Default</string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfRotationSpeedChoice</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>999</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Slow</string>
				<string>Fast</string>
				<string>Custom</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Default: 2</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfRotationSpeed</string>
			<key>label</key>
			<string>Custom 'speed' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Default: 0</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfRotationCount</string>
			<key>label</key>
			<string>Custom 'count' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<!-- rotation end -->
		<!-- shaking Start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Shake Animation</string>
			<key>footerText</key>
			<string>Smaller 'duration' value means faster animation. Use '0' as count to repeat the animtion indefinitely.</string>
		</dict>
		<dict>
		 	<key>cell</key>
		 	<string>PSStaticTextCell</string>
		 	<key>cellClass</key>
		 	<string>PFHeaderCell</string>
		 	<key>background</key>
		 	<string>#686868</string>
		 	<key>image</key>
		 	<string>Previews/ShakeHorziontal</string>
		 	<key>height</key>
		 	<integer>100</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfIsShakeEnabled</string>
			<key>label</key>
			<string>Enable shaking</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>horizontal</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfShakeXAmount</string>
			<key>label</key>
			<string>Custom 'x' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>vertical</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfShakeYAmount</string>
			<key>label</key>
			<string>Custom 'y' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>Default</string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfShakeDurationChoice</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>999</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Slow</string>
				<string>Fast</string>
				<string>Custom</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Default: 2</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfShakeDuration</string>
			<key>label</key>
			<string>Custom 'duration' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Default: 0</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfShakeCount</string>
			<key>label</key>
			<string>Custom 'count' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<!-- shaking end -->
		<!-- Blinking Start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>blinking Animation</string>
			<key>footerText</key>
			<string>Smaller 'speed' value means faster animation. Value is in seconds.</string>
		</dict>
		<dict>
		 	<key>cell</key>
		 	<string>PSStaticTextCell</string>
		 	<key>cellClass</key>
		 	<string>PFHeaderCell</string>
		 	<key>background</key>
		 	<string>#686868</string>
		 	<key>image</key>
		 	<string>Previews/Blinking</string>
		 	<key>height</key>
		 	<integer>100</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfIsBlinkEnabled</string>
			<key>label</key>
			<string>Enable blinking</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>Default</string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfBlinkSpeedChoice</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>999</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Fast</string>
				<string>Slow</string>
				<string>Custom</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Default: 0.5</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfBlinkSpeed</string>
			<key>label</key>
			<string>Custom blinking 'speed' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<!-- blinking end -->
		<!-- pulse Start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pulse Animation</string>
			<key>footerText</key>
			<string>Smaller 'speed' value means faster animation. Value is in seconds. Use '0' as count to repeat the animtion indefinitely.</string>
		</dict>
		<dict>
		 	<key>cell</key>
		 	<string>PSStaticTextCell</string>
		 	<key>cellClass</key>
		 	<string>PFHeaderCell</string>
		 	<key>background</key>
		 	<string>#686868</string>
		 	<key>image</key>
		 	<string>Previews/Pulsing</string>
		 	<key>height</key>
		 	<integer>100</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfIsPulseEnabled</string>
			<key>label</key>
			<string>Enable Pulsating</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>Default</string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfPulseSpeedChoice</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>999</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Fast</string>
				<string>Slow</string>
				<string>Custom</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Default: 1</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfPulseSpeed</string>
			<key>label</key>
			<string>Custom 'speed' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>Default</string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfPulseSizeChoice</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>999</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Half</string>
				<string>Double</string>
				<string>Custom</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Default: 2</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfPulseSize</string>
			<key>label</key>
			<string>Custom 'size' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Default: 0</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfPulseCount</string>
			<key>label</key>
			<string>Custom 'count' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.AlwaysRemindMePref.preferencesChanged</string>
		</dict>
		<!-- pulse end -->
		<!-- actions start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>actions</string>
		</dict>
		<!-- <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply settings and respring!</string>
			<key>action</key>
			<string>respring</string>
		</dict> -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Show your default screen size!</string>
			<key>action</key>
			<string>printInfo</string>
		</dict>
		<!-- actions end -->
		<!-- infos start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>infos</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>paypal.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate via PayPal :)</string>
			<key>action</key>
			<string>showPayPal</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>monero.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate via Monero ;)</string>
			<key>action</key>
			<string>showMonero</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>bitcoin.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate via Bitcons :)</string>
			<key>action</key>
			<string>showBitcoin</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>twitter.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send me a message @IDEK_a_Leroy</string>
			<key>action</key>
			<string>showTwitter</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>reddit.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send me a message u/IDEK_a_Leroy</string>
			<key>action</key>
			<string>showReddit</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>github.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>action</key>
			<string>showSourceCode</string>
		</dict>
		<!-- infos end -->
	</array>
	<key>title</key>
	<string>AlwaysRemindMe</string>
</dict>
</plist>
