<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>settings</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.leroy.AlwaysRemindMePref/preferenceschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.leroy.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfTweakIsEnabled</string>
			<key>label</key>
			<string>Enable tweak</string>
		</dict>
		<!-- Locations start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Text and Locations</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Choose the location of the AlwaysRemindMe text label.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.leroy.AlwaysRemindMePref/preferenceschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Your Reminder text here</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.leroy.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfTextLabel</string>
			<key>label</key>
			<string>Custom 'text' value:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.leroy.AlwaysRemindMePref/preferenceschanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.leroy.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfWhichScreenChoice</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Both</string>
				<string>Homescreen</string>
				<string>Lockscreen</string>
			</array>
			<key>alignment</key>
			<string>3</string>
		</dict>
		<!-- Locations end -->
		<!-- Font Size and Color start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Font Size</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.leroy.AlwaysRemindMePref/preferenceschanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>14</string>
			<key>defaults</key>
			<string>com.leroy.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfFontSize</string>
			<key>validValues</key>
			<array>
				<integer>11</integer>
				<integer>14</integer>
				<integer>16</integer>
				<integer>18</integer>
				<integer>20</integer>
				<integer>22</integer>
				<integer>25</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>11</string>
				<string>14</string>
				<string>16</string>
				<string>18</string>
				<string>20</string>
				<string>22</string>
				<string>Custom</string>
			</array>
			<key>alignment</key>
			<string>3</string>
		</dict>
		<!-- <dict>
			<key>PostNotification</key>
			<string>com.leroy.AlwaysRemindMePref/preferenceschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>14</integer>
			<key>defaults</key>
			<string>com.leroy.AlwaysRemindMePref</string>
			<key>key</key>
			<string>fontSizePref</string>
			<key>label</key>
			<string>Font size</string>
			<key>isSegmented</key>
			<true/>
			<key>showValue</key>
			<true/>
			<key>min</key>
			<real>11</real>
			<key>max</key>
			<real>24</real>
			<key>segmentCount</key>
			<integer>13</integer>
		</dict> -->
		<!-- Pos start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Choose the position of the label. For custom values, select 'Custom' above and use the input fields below.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.leroy.AlwaysRemindMePref/preferenceschanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>Default</string>
			<key>defaults</key>
			<string>com.leroy.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfFramePosChoice</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>25</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Below StatusBar</string>
				<string>Above Dock</string>
				<string>Custom</string>
			</array>
			<key>alignment</key>
			<string>5</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The top left part of the screen is point: y = 0, x = 0</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.leroy.AlwaysRemindMePref/preferenceschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>y</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.leroy.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfFrameY</string>
			<key>label</key>
			<string>Custom 'y' value:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.leroy.AlwaysRemindMePref/preferenceschanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>x</string>
			<key>defaults</key>
			<string>com.leroy.CustomCCPreferences</string>
			<key>key</key>
			<string>pfFrameX</string>
			<key>label</key>
			<string>Custom 'x' value:</string>
		</dict>
		<!-- Pos end -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Font Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>PostNotification</key>
				<string>com.leroy.AlwaysRemindMePref/preferenceschanged</string>
				<key>defaults</key>
				<string>com.leroy.AlwaysRemindMePref</string>
				<key>key</key>
				<string>pfFontColor</string>
				<key>fallback</key>
				<string>#000000</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Font color</string>
		</dict>
		<!-- Font Size and Color end -->
		<!-- BackgroundColor start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Background</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.leroy.AlwaysRemindMePref/preferenceschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.leroy.AlwaysRemindMePref</string>
			<key>key</key>
			<string>pfIsBackgroundEnabled</string>
			<key>label</key>
			<string>Show background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>PostNotification</key>
				<string>com.leroy.AlwaysRemindMePref/preferenceschanged</string>
				<key>defaults</key>
				<string>com.leroy.AlwaysRemindMePref</string>
				<key>key</key>
				<string>pfBackgroundColor</string>
				<!-- <key>fallback</key>
				<string>#000000</string> -->
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Background color</string>
		</dict>
		<!-- BackgroundColor end -->
		<!-- actions start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>actions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply settings and respring!</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<!-- actions end -->
		<!-- infos start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>infos</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>paypal.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate via PayPal :)</string>
			<key>action</key>
			<string>showPayPal</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>monero.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate via Monero ;)</string>
			<key>action</key>
			<string>showMonero</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>bitcoin.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate via Bitcons :)</string>
			<key>action</key>
			<string>showBitcoin</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>twitter.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send me a message @IDEK_a_Leroy</string>
			<key>action</key>
			<string>showTwitter</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>github.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>action</key>
			<string>showSourceCode</string>
		</dict>
		<!-- infos end -->
	</array>
	<key>title</key>
	<string>AlwaysRemindMe</string>
</dict>
</plist>
